.header {
  background-color: #cc0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 60px;
  width: auto;
}

.header .logo img {
  transform: scale(1.2);
}

.barrabusqueda input {
  display: inline-table;
  padding: 0 10px;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
