<footer class="footer">
  <div class="logo">
    <img src="assets/images/Logo%20Sp.png"
         alt="Logo" height="450" width="450">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="">Tiendas Superpoli</a></li>
      <li><a href="">Contáctanos</a></li>
      <li><a href="">Como Comprar</a></li>
      <li><a href="">Atención al usuario</a></li>
    </ul>
  </nav>
  <div class="contenedor-social">
    <span>Compartir</span>
    <div class="social-botones">
      <a href="fa-brands fa-square-facebook"></a>
      <a href="fa-brands fa-square-instagram"></a>
      <a href="fa-brands fa-square-youtube"></a>
    </div>
  </div>
</footer>
