<h2>Ofertas del día</h2>
<div class="slider-frame">
  <ul>
    <li><img ngSrc="../../assets/images/slider1.jpg"
             alt="" height="500" width="1000">
    </li>
    <li><img ngSrc="../../assets/images/slider2.jpg"
             alt="" height="500" width="1000">
    </li>
    <li><img ngSrc="../../assets/images/slider3.jpg"
             alt="" height="500" width="1000">
    </li>
    <li><img ngSrc="../../assets/images/slider4.jpg"
             alt="" height="500" width="1000">
    </li>
  </ul>
</div>
<section class="contenedor-relacion-productos">
  <h2>Productos más vendidos</h2>
  <div class="card-listas-productos">
    <div class="card" *ngFor="let product of products">
      <div class="card-img">
        <img [src]="product.image" alt="Not Found" width="300">
      </div>
      <div class="info-card">
        <div class="texto-producto">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price }}</p>
          <button type="button" (click)="addToCart(product)">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</section>
